{% extends 'base.html' %}

{% block content %}
<h2>Mis Reservas</h2>

<div style="margin-bottom: 20px; text-align: center;">
    <a href="{{ url_for('reservation.crear') }}" class="btn">Nueva Reserva</a>
</div>

<table>
    <thead>
        <tr>
            <th>Espacio</th>
            <th>Fecha</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
        <tr>
            <td><strong>{{ reserva.espacio.nombre }}</strong></td>
            <td>{{ reserva.fecha }}</td>
            <td>{{ reserva.hora_inicio.strftime('%H:%M') }}</td>
            <td>{{ reserva.hora_fin.strftime('%H:%M') }}</td>
            <td
                class="status-{{ reserva.estado if reserva.estado in ['activa', 'cancelada', 'finalizada'] else 'default' }}">
                {{ reserva.estado|upper }}
            </td>
            <td>
                {% if reserva.estado == 'activa' %}
                <form action="{{ url_for('reservation.cancelar') }}" method="POST"
                    style="border: none; padding: 0; background: none;">
                    <input type="hidden" name="reserva_id" value="{{ reserva.id }}">
                    <button type="submit" class="btn"
                        style="background-color: #dc3545; padding: 5px 10px; font-size: 0.9rem;">Cancelar</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6" style="text-align: center;">No se han hecho reservas hasta ahora</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}